@inherits LayoutComponentBase

@inject SweetAlertService Swal
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<BlazoredToasts />
<NavMenu />

<div class="container content">
    @Body
</div>

@code
{
    
}
